extends: default

rules:
  # Keep
  trailing-spaces: enable

  # Disable formatting noise
  indentation: disable
  brackets: disable
  comments-indentation: disable
  line-length: disable
  document-start: disable
  truthy: disable
